body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.top-banner2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orange-color{
    color: orange;
}
h1{
    font-weight: 700;
    font-size: 50px;
}
.flex-position{
display: flex;
}
section{
    margin-bottom: 150px;
}
.half-width{
    width: 40%;
    padding-left: 70px;
}
.half-width img{
    width: 100%;
}

.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 30px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.link-button2{
    text-decoration: none;
    background-color: orange;
    padding: 10px 30px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    
}
.experience-container{
    display: flex;
    justify-content: center;
    /* border: 3px solid green; */
    width: 100%;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.experiance-area{
    width: 50%;
    /* border: 2px solid red; */
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
.first-experience{
    padding-right: 40px;
    padding-left: 40px;
}
.experience-head{
    margin-left: 40px;
}
#baby-web-development2{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#baby-web-development{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(253, 117, 93), tomato);
    border-image-slice: 1;

}
footer p{
    text-align: center;
}
